
     <h2 style="font-size: 2.2rem; text-align: center;">Education Details</h2>

     <div>
        <details open>
            <summary>
                Bachelor of Technology (B.Tech)
            </summary>
            <div>
                <pre>SASTRA University,Thanjavur,
Electronics & Communication Engineering,
CGPA-7.4581</pre>
            </div>
        </details>
        <details>
            <summary>
               Higher Secondary School(Intermediate)
            </summary>
            <div>
                <pre>Narayana Junior College,Hyderabad,
M.P.C,
Percentage-97.3</pre>
            </div>
        </details>
        <details>
            <summary>
                Secondary School Certificate(10<sup>th  </sup> class)
            </summary>
            <div>
                <pre>Academic Heights School,Tirupati,
CGPA-9.8</pre>
            </div>
        </details>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>