
<nav>
  <div class="n">
  <a routerLink="/home"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" style=" color:rgb(25, 3, 3);">Santhan Krishna</a></div>
  <a class="button" routerLink="/home"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Home</a> 
  <a class="button" routerLink="/about"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" >About</a> 
  <a class="button" routerLink="/skills"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Skills</a> 
  <a class="button" routerLink="/contact"  routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Contact</a> 

</nav>
<router-outlet>
  
</router-outlet>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
<hr class="down">
<ul class="b" style="list-style-type: none;">
  <li><a href="https://www.linkedin.com/in/santhan-krishna-13460a219/" class="fa fa-linkedin" target="_blank"></a>  </li>
  <li><a href="https://github.com/santhankrishna8"class="fa fa-github" aria-hidden="true" target="_blank"></a></li>
 <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=santhankrishna18@gmail.com"class="fa fa-google" aria-hidden="true" target="_blank"></a></li>
 
 <li> <a href="#" class="fa fa-instagram" target="_blank"></a>  </li>
</ul>



<a class="copy">&#169; Copyright Santhan Portfolio</a>
