*{
    font-family: Arial, Helvetica, sans-serif;
    
    text-decoration: none ;
    
}

nav{
    
    line-height: 3rem;
    font-size: 1.5rem;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    height:7vh;
    padding:.5rem;
     
}
.n{
    display: flex;
    justify-content: flex-start;
    margin-right: 47rem;
    
    
}
.button{
    color:rgb(105, 109, 99);margin-right: 2rem;
}
.button:hover,.button:active,.button:focus{
    
    color:white;
    

}


.down{
    position:absolute;
    
    border: none;
    height:0.2rem;
    width:90rem;
    background: black;
    margin-bottom: 1rem;

}
.copy{
    justify-content: center;
    margin-left: 10rem;
    font-size: 1rem;
}
ul{
    display: flex;
    justify-content:center;
    
}
.fa {  

    padding: .5rem;  
    text-align: center;  
    margin: .3rem .4rem;  
    font-size: 1.5rem;  
    width: 2rem;  
    border-radius: 1rem;
  }
  .fa:hover {  
    opacity: 0.9;  
}  
.fa-linkedin {  
  
    color: #007bb5;  
  }  
  .fa-instagram {  

    color: #bc2a8d;  
  } 
  .fa-github{
    color: black;
    
  }
.fa-google{
    color:black;
   
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
    margin-top: 40px;
  }
@media only screen and (min-width:320px) and (max-width:576px)  {
    .container{
        width:50%;
        padding-left: 23px;
        flex-direction: column;
    }
    
}